<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<table width="100%">

  <tr class="list-group-item" *ngFor="let user of userList">
    <td>
    {{user.name}}
    </td>
    <td>
    <button type="button" class="btn btn-default btn-circle" (click)="linkedinClick()"><i class="fab fa-linkedin-in"></i></button>
    </td>
    <td>
     <button type="button" class="btn btn-default btn-circle" (click)="githubClick()"><i class="fab fa-github"></i></button>
    </td>
  </tr>

</table>