<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div style="font-family: 'Lato'">
  <form ngNativeValidate name="position" (submit)="onSubmit(event)" required>
    What is your career prospect?
    <br/>
    <div class="form-group">
      <input id="text" class="form-control" type="text" name="fname" style="width:50%;display: inline-block;" required>
      <br/> What is your LinkedIn Profile username?
      <br/>

      <input id="text" class="form-control" type="text" name="linkedinName" style="width:50%;display: inline-block;" required>
      <br/>
      <input id="submit" class="form-control" type="submit" value="Submit" style="width:50%; text-align:center;display: inline-block;" />
    </div>
  </form>
  <br/>
  <br/>
  <br/>
</div>
