.background{
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

h1{
  font-family: "Lato", serif;
}
p{
  font-family: "Lato", serif;
}
button {
  border: none;
  font-family: "Lato", serif;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

