h1{
  text-align: center;
  font-family: "Lato", serif;
}
agm-map {
  height: 300px;
}

#submit {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
}

#submit:hover {
  opacity: 0.7;
}
