button{
  transition: all .5 ease-in-out;
  -webkit-transition: all .5 ease-in-out;
  -moz-transition: all .5 ease-in-out;
}
button:hover{
  transform: scale(1.1);
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.2)
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
.row-center {
  position:absolute;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
}
.separation-between-buttons{
  padding-right: 5px;
}
.submit {
  margin-left: 5px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 10%;
  font-size: 18px;
  padding-bottom: 35px;
  
}

.top-wrapper{
  margin-top: 15vh;
}

.submit:hover {
  opacity: 0.7;
}
