<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="img.jpg" alt="John" style="width:100%">
  <h1>{{lookup.firstName.localized.en_US}} {{lookup.lastName.localized.en_US}}</h1>
  <p class="title">{{lookup.headline.localized.en_US}}</p>

  <ul class="list-group" *ngFor="let position of positions;" style="text-align:center; ">
      <li class="list-group-item" style="text-align:center;">
        <p style="font-weight:bold;">{{position.company}}</p>
      </li>
  </ul>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>
